<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.InventoryHistoryMapper">

    <sql id="inventoryHistoryColumns">
        select
            history.*,
            item.item_name as item_name,
            item.unit as unit
        from wms_inventory_history history
        left join wms_item_sku sku on history.sku_id=sku.id
        left join wms_item item on sku.item_id=item.id
        <where>
            <if test="bo.orderId != null">
                and history.order_id=#{bo.orderId}
            </if>
            <if test="bo.orderType != null">
                and history.order_type=#{bo.orderType}
            </if>
            <if test="bo.orderNo != null and bo.orderNo != ''">
                and history.order_no=#{bo.orderNo}
            </if>
            <if test="bo.itemName != null and bo.itemName != ''">
                and item.item_name like concat('%', #{bo.itemName}, '%')
            </if>
            <if test="bo.itemCode != null and bo.itemCode != ''">
                and item.item_code like concat('%', #{bo.itemCode}, '%')
            </if>
            <if test="bo.equipmentCode != null and bo.equipmentCode != ''">
                and coalesce(history.equipment_code, item.item_code) like concat('%', #{bo.equipmentCode}, '%')
            </if>
            <if test="bo.skuName != null and bo.skuName != ''">
                and sku.sku_name like concat('%', #{bo.skuName}, '%')
            </if>
            <if test="bo.belongUnit != null and bo.belongUnit != ''">
                and history.belong_unit like concat('%', #{bo.belongUnit}, '%')
            </if>
            <if test="bo.warehouseId != null">
                and history.warehouse_id=#{bo.warehouseId}
            </if>
            <if test="bo.areaId != null">
                and history.area_id=#{bo.areaId}
            </if>
            <if test="bo.rackId != null">
                and history.rack_id=#{bo.rackId}
            </if>
            <if test="bo.locationId != null">
                and history.location_id=#{bo.locationId}
            </if>
            <if test="bo.itemInstanceId != null">
                and history.item_instance_id=#{bo.itemInstanceId}
            </if>
            <if test="bo.boxId != null">
                and history.box_id=#{bo.boxId}
            </if>
            <if test="bo.skuId != null">
                and history.sku_id=#{bo.skuId}
            </if>
            <if test="bo.startTime != null and bo.startTime != '' and bo.endTime != null and bo.endTime != ''">
                and (history.create_time between #{bo.startTime} and #{bo.endTime})
            </if>
        </where>
        order by history.create_time desc
    </sql>

    <select id="selectVoPageByBo" resultType="com.ruoyi.wms.domain.vo.InventoryHistoryVo">
        <include refid="inventoryHistoryColumns"/>
    </select>

    <select id="selectVoListByBo" resultType="com.ruoyi.wms.domain.vo.InventoryHistoryVo">
        <include refid="inventoryHistoryColumns"/>
    </select>
</mapper>
