<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.InventoryDetailMapper">

    <update id="deductInventoryDetailQuantity">
        update wms_inventory_detail
        set remain_quantity = remain_quantity -
        (
        case
        <foreach collection="list" item="it">
            when id = #{it.id} then #{it.shipmentQuantity}
        </foreach>
        end
        )
        ,
        update_time = #{updateTime},
        update_by = #{updateBy}
        where id in
        <foreach collection="list" open="(" separator="," close=")" item="it">
            #{it.id}
        </foreach>
    </update>
    <sql id="inventoryDetailColumns">
        select
            detail.*,
            item.item_code as item_code,
            item.item_name as item_name,
            item.unit as unit,
            sku.sku_name as sku_name,
            sku.product_identifier as product_identifier,
            sku.quality_grade as quality_grade,
            rack.rack_name as rack_name,
            location.location_name as location_name
        from wms_inventory_detail detail
        inner join wms_item_sku sku on detail.sku_id=sku.id
        inner join wms_item item on sku.item_id=item.id
        left join wms_rack rack on detail.rack_id = rack.id
        left join wms_location location on detail.location_id = location.id
        <where>
            <if test="bo.itemName != null and bo.itemName != ''">
                and item.item_name like concat('%', #{bo.itemName}, '%')
            </if>
            <if test="bo.itemCode != null and bo.itemCode != ''">
                and item.item_code like concat('%', #{bo.itemCode}, '%')
            </if>
            <if test="bo.skuName != null and bo.skuName != ''">
                and sku.sku_name like concat('%', #{bo.skuName}, '%')
            </if>
            <if test="bo.itemId != null">
                and item.id=#{bo.itemId}
            </if>
            <if test="bo.warehouseId != null">
                and detail.warehouse_id=#{bo.warehouseId}
            </if>
            <if test="bo.areaId != null">
                and detail.area_id=#{bo.areaId}
            </if>
            <if test="bo.createStartTime != null and bo.createEndTime != null">
                and (detail.create_time between #{bo.createStartTime} and #{bo.createEndTime})
            </if>
        </where>
        order by detail.warehouse_id,detail.area_id,sku.item_id,sku.id,detail.create_time
    </sql>

    <select id="selectPageByBo" resultType="com.ruoyi.wms.domain.vo.InventoryDetailVo">
        <include refid="inventoryDetailColumns"/>
    </select>

    <select id="selectListByBo" resultType="com.ruoyi.wms.domain.vo.InventoryDetailVo">
        <include refid="inventoryDetailColumns"/>
    </select>
</mapper>
