<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wms.mapper.ItemSkuMapper">

    <resultMap id="itemSkuVoMap" type="com.ruoyi.wms.domain.vo.ItemSkuVo">
        <association property="item" javaType="com.ruoyi.wms.domain.vo.ItemVo">
            <id property="id" column="item_id_ref"/>
            <result property="itemCode" column="item_code"/>
            <result property="itemName" column="item_name"/>
            <result property="itemCategory" column="item_category"/>
            <result property="unit" column="item_unit"/>
            <result property="equipmentName" column="equipment_name"/>
            <result property="equipmentType" column="equipment_type"/>
            <result property="status" column="item_status"/>
            <result property="remark" column="item_remark"/>
        </association>
    </resultMap>

    <select id="selectByBo" resultMap="itemSkuVoMap">
        select
            sku.id,
            sku.item_id,
            sku.sku_name,
            sku.spec_model,
            sku.status,
            sku.create_by,
            sku.create_time,
            sku.update_by,
            sku.update_time,
            item.id as item_id_ref,
            item.item_code,
            item.item_name,
            item.item_category,
            item.unit as item_unit,
            item.equipment_name,
            item.equipment_type,
            item.status as item_status,
            item.remark as item_remark
        from wms_item_sku sku
        inner join wms_item item on sku.item_id=item.id
        inner join wms_item_category category on item.item_category=category.id
        <where>
            <if test="bo.itemName != null and bo.itemName != ''">
                and item.item_name like concat('%', #{bo.itemName}, '%')
            </if>
            <if test="bo.itemCode != null and bo.itemCode != ''">
                and item.item_code like concat('%', #{bo.itemCode}, '%')
            </if>
            <if test="bo.equipmentName != null and bo.equipmentName != ''">
                and item.equipment_name like concat('%', #{bo.equipmentName}, '%')
            </if>
            <if test="bo.skuName != null and bo.skuName != ''">
                and sku.sku_name like concat('%', #{bo.skuName}, '%')
            </if>
            <if test="bo.specModel != null and bo.specModel != ''">
                and sku.spec_model like concat('%', #{bo.specModel}, '%')
            </if>
            <if test="bo.itemCategory != null and bo.itemCategory != ''">
                and (category.id=#{bo.itemCategory} or category.parent_id=#{bo.itemCategory})
            </if>
        </where>
        order by sku.item_id desc
    </select>
</mapper>
